



<h3>Create User</h3>
<body background="../../images/bg.jpg"></body>
<form action="/home/Maternal_Health/Get_Involved/login/create1" method="POST">


<center><input type="password" name="password" placeholder="password"/>
</br>
<center><input type="text" name="mailid" placeholder="mailid" />
<br/>
<center><input type="submit" value="submit"/>
</form>

<br/>