<h3>DONATE</h3>
<form action="/home/Child_Survival/Donate/create" method="POST">
<input type="text" name="firstname" placeholder="firstname"/>
</br>
<input type="text" name="lastname" placeholder="lastname"/>
</br>
<input type="text" name="mailid" placeholder="username@whatever.com"/>
</br>
<input type="number" name="phoneno" placeholder="Ph no"/>
</br>
<input type="number" name="amount" placeholder="amount "/>
</br>
<input type="number" name="accountno" placeholder="account no "/>
</br>
<input type="number" name="ifsccode" placeholder="ifsccode "/>
<br/>
<input type="submit" value="donate"/>
<form action="/home/Maternal_Health/Donate/Donation_Response" method="POST" >
</form>
<body background="../../images/bg.jpg"></body>
<br/>