<h3>Create User</h3>
<form action="/home/Child_Survival/Get_Involved/login/create1" method="POST">

<input type="password" name="password" placeholder="password"/>
</br>
<input type="text" name="mailid" placeholder="mailid" />
<br/>
<input type="submit" value="submit"/>
</form>
<body background="../../images/bg.jpg"></body>
<br/>